.vscode/
support/
__pycache__/
__ROSIE_BIN__/
Debugger/bin
*.dblite
*.exe
test.bat
bin/
compiler/dist/
compiler/build/
bugs/
compiler/bin
installer/obj
installer/dist
installer/build
installer/install.spec
*.spec